@tailwind utilities;


@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: white;
    background-color: black;
  }
}
